<ul class="nav mb-2 d-flex justify-content-end">
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      >Sorting</a
    >
    <div class="dropdown-menu">
      <a class="dropdown-item sort" href="/api/sort/recent">Recent</a>
      <a class="dropdown-item sort" href="/api/sort/alphabetical"
        >Alphabetical</a
      >
      <a class="dropdown-item sort" href="/api/sort/due">Due date</a>
    </div>
  </li>
</ul>
