<div class="card mb-2 task">
  <a href="/tasks/{{ task.id }}">
    <div class="card-body px-3 py-2">
      <div class="row">
        <div class="col-1 check" data-completed="{{ task.id }}">
          <!-- Change color based on if task is completed or not -->
          {% if task.completed == false %}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 24 24"
            width="1em"
            fill="currentColor"
            data-toggle="tooltip"
            data-placement="left"
            title="Complete task"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"
            />
          </svg>
          {% else %}
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-check2-square text-success"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-toggle="tooltip"
            data-placement="left"
            title="Mark as open"
          >
            <path
              fill-rule="evenodd"
              d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
            />
            <path
              fill-rule="evenodd"
              d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"
            />
          </svg>
          {% endif %}
        </div>
        <div class="col-10">
          <!-- Task title and due date -->
          <p class="mb-0">
            {{ task.title }}
            <span class="badge badge-pill badge-info">{{ task.due }}</span>
          </p>
          <p class="mb-0">
            <!-- Group name and description icon -->
            <small>{{ task.group.name }}</small>
            {% if task.description %}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              width="1em"
              height="1em"
              data-toggle="tooltip"
              data-placement="bottom"
              title="View task description"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
            {% endif %}
          </p>
        </div>
        <div class="col-1" data-star="{{ task.id }}">
          <!-- If statement whether to show a filled in star or not -->
          {% if task.important == true %}
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-star-fill star"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-toggle="tooltip"
            data-placement="right"
            title="Remove star"
          >
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
            />
          </svg>
          {% else %}
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-star star"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-toggle="tooltip"
            data-placement="right"
            title="Star as important"
          >
            <path
              fill-rule="evenodd"
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
            />
          </svg>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
