apturl
autopep8
backcall
bcrypt
brlapi
cachetools
colorama
command-not-found
cryptography
cupshelpers
dbus-python
decorator
defer
distro
distro-info
duplicity
fasteners
flask-cors
flask-debugtoolbar
flask-sqlalchemy
future
google-api-python-client
google-auth
google-auth-httplib2
gunicorn
gyp
ipython
ipython-genutils
jedi
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
monotonic
netifaces
oauth2client
oauthlib
olefile
paramiko
pickleshare
pillow
pip-chill
prompt-toolkit
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycups
pydrive
pygments
pygobject
pyjwt
pylint
pymacaroons
pynacl
pyopenssl
pyrfc3339
python-apt
python-dateutil
python-debian
python-dotenv
pytz
pyxdg
pyyaml
reportlab
requests
requests-unixsocket
rsa
sentry-sdk
simplejson
slack-sdk
systemd-python
traitlets
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
uritemplate
usb-creator
virtualenv
xkit
