body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F4F6;
}

#sidebar {
    height: 100vh;
    background-color: #9CC1E7;
    position: fixed; 
    color: black;
}

#sidebar a, .btn-link {
    color: #343A40;
}

#app {
    padding: 56px 0;
    height: 100vh;
}

#main-dashboard {
    left: 33.3vw;
    padding: 2rem 10vw;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #main-dashboard {
        left: 16.6vw;
        padding: 2rem 20vw;
    }
 }

.sidebar-headings {
    padding-top: 1.5rem;
    padding-left: 1rem;
    font-style: italic;
}

#new-task-fields {
    display: none;
}

#create-group {
    padding-left: 1rem;
    padding-right: 1rem;
}

.active {
    background-color: #BDD7EF;
}

.avatar-img {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
}

#create-group {
    cursor: pointer;
}

.task {
    cursor: pointer;
}

.task:hover {
    left: 10px;
    animation: slide 200ms ease;
    background-color: #EFF5FB;
}

.dropdown-item {
    cursor: pointer;
}

.btn-link {
    padding-left: 1rem;
}

.card a {
    text-decoration: none;
    color: black;
}

.star {
    color: #F5CC00;
}

/* Move tasks on hover */
@keyframes slide {
    from {
        left: 0px;
    }

    to {
        left: 10px;
    }
}