body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F4F6;
}

#sidebar {
    height: 100vh;
    background-color: lightblue;
    position: fixed; 
}

#app {
    padding: 56px 0;
    height: 100vh;
}

#main-dashboard {
    left: 33.3vw;
    padding: 2rem 10vw;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #main-dashboard {
        left: 16.6vw;
        padding: 2rem 20vw;
    }
 }

.sidebar-headings {
    padding-top: 1.5rem;
    padding-left: 1rem;
}

#new-task-fields {
    display: none;
}

#create-group {
    padding-left: 1rem;
    padding-right: 1rem;
}

.active {
    background-color: lightyellow;
}

.avatar-img {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
}

#create-group {
    cursor: pointer;
}

/* Need to implement a better animation for the revealing of the fields */
/* @keyframes sliding_fields {
    from {
        display: none;
    }

    to {
        display: show;
    }
} */