{% extends 'base.html' %}

{% block title %} Dolt - Home {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-md-2 p-0" id="sidebar">
            {% include 'components/sidebar.html' %}
        </div>
        <div class="col-8 col-md-10" id="main-dashboard">
            {% include 'components/tasks/new_task.html' %}
            {% include 'components/tasks/list_tasks.html' %}
            {% include 'components/groups/add_group.html' %}
        </div>
    </div>
</div>

{% endblock %}