<p class="h6 sidebar-headings">Quick view</p>
<ul class="nav flex-column">
    <li class="nav-item">
        <a href="#" class="nav-link">All tasks</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Important</a>
    </li>
</ul>
<p class="h6 sidebar-headings">Due</p>
<ul class="nav flex-column">
    <li class="nav-item">
        <a href="#" class="nav-link">Today</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Tomorrow</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Later</a>
    </li>
</ul>
<p class="h6 sidebar-headings">Groups</p>
{% if groups %}
<ul class="nav flex-column">
    <li class="nav-item">
        <a href="#" class="nav-link">Today</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Tomorrow</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Later</a>
    </li>
</ul>
{% else %}
<p>Create your first group <a href="#">here</a></p>
{% endif %}